extends layout

block content
	h1 #{title}

	:markdown
		This used to be an EJS-templated page but it seems much easier to implement 
		Jade templates instead.
	ul 
		for supply in supplies
			li
				a(href='supplies/#{supply}')
					= supply

	:markdown
		Below is an the same list but implemented with markdown.
	for supply in supplies
		:markdown
			* #{supply}

	p This, obviously, did not work as expected. :(
	p But, at least, there is now a way to add a horizontal rule. See below.
	:markdown
		---